body {
  background-color: #0D0D0D;
  color: #CCCCCC;
  font-family: 'Courier New', monospace;
  margin:25px;
}

a:link {
  color:#CCCCCC;
}
a:visited {
  color: #CCCCCC;
}
a:hover {
  color: #CCCCCC;
  border-radius:0.12em;
  transition: all 0.2s;
  border:0.1em solid #CCCCCC;
}
a:active {
  color: #CCCCCC;
}

h3 {
  line-height: 0 ;
}

.parent {
  display: grid; 
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: 10% 20% 30% 40%; 
  grid-column-gap: 20px;
  grid-row-gap: 20px; 
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 6; text-align: center;} 
  .div2 { grid-area: 1 / 1 / 2 / 2; } 
  .div3 { grid-area: 2 / 1 / 3 / 4; } 
  .div4 { grid-area: 2 / 4 / 3 / 6; } 
  .div5 { grid-area: 3 / 1 / 4 / 6; text-align: center;}
  .div6 { grid-area: 4 / 1 / 5 / 2;     text-align: center;
      padding:0.35em 1.2em;
      border:0.1em solid #CCCCCC;
      border-radius:0.12em;
      box-sizing: border-box;} 
  .div7 { grid-area: 4 / 2 / 5 / 3;     text-align: center;
      padding:0.35em 1.2em;
      border:0.1em solid #CCCCCC;
      border-radius:0.12em;
      box-sizing: border-box;} 
  .div8 { grid-area: 4 / 3 / 5 / 4;     text-align: center;
      padding:0.35em 1.2em;
      border:0.1em solid #CCCCCC;
      border-radius:0.12em;
      box-sizing: border-box;} 
  .div9 { grid-area: 4 / 4 / 5 / 5;     text-align: center;
      padding:0.35em 1.2em;
      border:0.1em solid #CCCCCC;
      border-radius:0.12em;
      box-sizing: border-box;} 
  .div10 { grid-area: 4 / 5 / 5 / 6;     text-align: center;
      padding:0.35em 1.2em;
      border:0.1em solid #CCCCCC;
      border-radius:0.12em;
      box-sizing: border-box;} 

input[type=text] {
    border:0.1em solid #CCCCCC;
    border-radius: 4px;
    background-color:#0D0D0D;
    font-family: 'Courier New', monospace;
    color: #CCCCCC;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

.product {
  width: auto;
  max-width: 90%;
  height: auto;
  max-height: 100%;
}

.button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #CCCCCC;
  background-color:#0D0D0D;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Courier New', monospace;
  font-weight:300;
  color:#CCCCCC;
  text-align:center;
  transition: all 0.2s;
  font-size:22px;
}

.button:hover {
  color:#0D0D0D;
  background-color:#CCCCCC;
}

.button:active {
  display:inline-block;
  padding:0.35em 1.2em;
  background-color:#CCCCCC;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Courier New', monospace;
  font-weight:500;
  color:#0D0D0D;
  text-align:center;
  transition: all 0.2s;
}
@media all and (max-width:30em){
  a.button{
    display:block;
    margin:0.4em auto;
  }
}