.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 100px) repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 6; }
  .div2 { grid-area: 2 / 1 / 3 / 6; }
  .div3 { grid-area: 3 / 1 / 4 / 6; text-align: center;}
  .div4 { grid-area: 4 / 1 / 5 / 2; text-align: center;}
  .div5 { grid-area: 4 / 2 / 5 / 3; text-align: center;}
  .div6 { grid-area: 4 / 3 / 5 / 4; text-align: center;}
  .div7 { grid-area: 4 / 4 / 5 / 5; text-align: center;}
  .div8 { grid-area: 4 / 5 / 5 / 6; text-align: center;}
  .div9 { grid-area: 5 / 1 / 6 / 6; text-align: right;} 

.responsive {
  width: 90%;
  height: auto;
}

.button::before {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: #959595 0 2px 5px;
    -moz-box-shadow: #959595 0 2px 5px;
    border-radius: 3px;
    box-shadow: #959595 0 2px 5px;
    content: "";
    display: block;
    left: 0;
    padding: 2px 0 0;
    position: absolute;
    top: 0;
}

.button:active::before { padding: 1px 0 0; }

.button.black {
    background: #656565;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#656565), to(#444));
    background: -moz-linear-gradient(#656565, #444);
    background: linear-gradient(#656565, #444);
    border: solid 1px #535353;
    border-bottom: solid 3px #414141;
    box-shadow: inset 0 0 0 1px #939393;
    color: #fff;
    text-shadow: 0 1px 0 #2f2f2f;
    padding: 8px 16px;
    outline: none;
}

.button.black:hover {
    background: #4c4c4c;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4c4c4c), to(#565656));
    background: -moz-linear-gradient(#4c4c4c, #565656);
    background: linear-gradient(#4c4c4c, #565656);
    border: solid 1px #464646;
    border-bottom: solid 3px #414141;
    box-shadow: inset 0 0 0 1px #818181;
}

.button.black:active {
    background: #474747;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#474747), to(#444));
    background: -moz-linear-gradient(#474747, #444);
    background: linear-gradient(#474747, #444);
    border: solid 1px #2f2f2f;
    box-shadow: inset 0 10px 15px 0 #3e3e3e;
}
